<!-- home is defined in app.js state -->
<div id="chatBar">
    <h1 id="logo">{{ home.title }}</h1>
    <form ng-submit="home.addUser(home.user)">
        <input class="textBox" ng-model="home.user" type="text"><br>
        <input class="button" type="submit" value="{{ home.newUser }}">
    </form>
    
    <h3 ng-repeat="room in home.rooms" ng-click="home.displayRoom(room)">{{ room.name }}</h3>
    
    <form ng-submit="home.addRoom(home.roomName)">
        <input class="textBox" ng-model="home.roomName" type="text"><br>
        <input class="button" type="submit" value="{{ home.newRoom }}"> 
    </form>
</div>    

<div id="roomBar" >
   <h2>Logged in as: {{ home.currentUser() }}</h2>
    <h1>{{ home.currentRoom }}</h1>
    
</div>
<div class="messages" ng-repeat="message in home.messages" ng-class-odd="'odd'">
        <p><strong>{{ message.username }}</strong> <span id="time">{{ message.sentAt }}</span></p>
        <p>{{ message.content }}</p>
        
        
</div>

<form class="sendForm" ng-submit="home.send(home.sendMessage, home.currentRoom)">
    <input class="sendBox" ng-model="home.sendMessage" type="text">
    <input class="button2" type="submit" value="{{ home.sendButton }}"> 
</form>






<!-- checkpoint 3 ng-model and ng-submit for forms -->
